-content_for :javascripts do
  = javascript_include_tag 'phones'
-if @phone.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @phone.errors.full_messages.each do |msg|
      li= msg
= form_for [@customer, @office, @phone], :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :phone_type, t(:phone_type), :class => 'control-label col-md-2'
    .col-sm-3
      = f.select :phone_type, Phone::PHONE_TYPES.map { |key, value| [t(value), key] }, {:include_blank => true}, {'data-placeholder' => t(:select_phone_type), :class => 'form-control'}
  .form-group
    = f.label :number, t(:number), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :number, :class => 'text_field form-control'
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), customer_office_contacts_path(@customer, @office), :class => 'btn btn-default'
