-content_for :javascripts do
  = javascript_include_tag 'phones'
.page-header
  h1=t(:listing_phones)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for [@customer, @office, @search], class: "form-horizontal" do |f|
      .form-group
        = f.label :phone_type_eq, t(:phone_type)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.select :phone_type_eq, Phone::PHONE_TYPES.map { |key, value| [t(value), key] }, {:include_blank => true}, {'data-placeholder' => t(:select_phone_type), :class => 'form-control'}
      .form-group
        = f.label :number_cont, t(:number)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :number_cont, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :phone_type, t(:phone_type)
      th= sort_link @search, :number, t(:number)
      th= t(:actions)
  tbody
    - @phones.each do |phone|
      tr
        td= t Phone::PHONE_TYPES[phone.phone_type]
        td= phone.number
        td
          = link_to customer_office_phone_path(@customer, @office, phone), class: "btn btn-xs"
            = fa_icon "info-circle lg"

          = link_to edit_customer_office_phone_path(@customer, @office, phone), class: "btn btn-xs"
            = fa_icon "edit lg"

          = link_to customer_office_phone_path(@customer, @office, phone), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove"

= paginate @phones
p
  .page_entries_info
    = page_entries_info @phones
= link_to t(:new_phone), new_customer_office_phone_path(@customer, @office), :class => 'btn btn-default btn-new'