.page-header
  h1=t(:phone)
.fieldset
  dl
    dt.label.label-default= t(:phone_type)
    dd
      pre.prettyprint= t Phone::PHONE_TYPES[@phone.phone_type]
    dt.label.label-default
      = t(:number)
    dd
      pre.prettyprint= @phone.number

.form-group
  = link_to t(:back), customer_office_contacts_path(@customer, @office), :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_customer_office_phone_path(@customer, @office, @phone), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), customer_office_phone_path(@customer, @office, @phone), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'