.page-header
  h1=t(:listing_offices)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for [@customer, @search], class: "form-horizontal" do |f|
      .form-group
        = f.label :name_cont, t(:name)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :name_cont, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :id, t(:id)
      th= sort_link @search, :name, t(:name)
      th= t(:address)
      th= t(:photos)
      th=t(:actions)
  tbody
    - @offices.each do |office|
      tr
        td= office.id
        td= office.name
        td
          - if office.address
            = office.address.country.name + ', ' + office.address.state.name + ', ' + office.address.city.name + ', ' + office.address.street.name + ', ' + office.address.house.number.to_s + '/' + office.address.house.corps
        td
          = link_to customer_office_office_photos_path(@customer, office)
            = @photos_count[office.id] ? @photos_count[office.id] : '0'
        td
          = link_to customer_office_path(@customer, office), :class => 'btn btn-xs'
            = fa_icon "info-circle lg", title: t(:show)
          = link_to customer_office_contacts_path(@customer, office), class: "btn btn-xs"
            = fa_icon "list-alt lg", title: t(:contacts)
          = link_to edit_customer_office_path(@customer, office), :class => 'btn btn-xs'
            = fa_icon "edit lg", title: t(:edit)
          = link_to customer_office_path(@customer, office), :method => :delete, :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-xs'
            = fa_icon "remove", title: t(:remove)

=' link_to t(:new_office), new_customer_office_path, :class => 'btn btn-primary btn-new'