-content_for :javascripts do
  = javascript_include_tag 'offices'
.page-header
  h1=t(:office)
.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @office.name
    dt.label.label-default= t(:desc)
    dd
      pre.prettyprint= @office.desc
    dt.label.label-default= t(:address)
    dd
      pre.prettyprint
        - if @office.address
          = @office.address.country.name + ', ' + @office.address.state.name + ', ' + @office.address.city.name + ', ' + @office.address.street.name + ', ' + @office.address.house.number.to_s + '/' + @office.address.house.corps
    dt.label.label-default= t(:categories)
    dd
      pre.prettyprint
        - @office.categories.each do |category|
          span.badge.alert-success
            = category.name

= link_to customer_office_contacts_path(@customer, @office)
  h4=t(:contacts)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, :url => customer_office_path(@customer, @office), class: "form-horizontal" do |f|
      .form-group
        = f.label :actable_type_eq, t(:contact_type)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.select :actable_type_eq, Contact::CONTACT_TYPES.map { |key, value| [value, key] }, {:include_blank => true}, {'data-placeholder' => t(:select_contact_type), :class => 'form-control'}
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :actable_type, t(:contact_type)
      th= t(:value)
      th= t(:actions)
  tbody
    - @contacts.each do |contact|
      - if contact.actable_type =='Phone'
        tr
          td= t contact.actable_type.downcase
          td
            = t Phone::PHONE_TYPES[contact.specific.phone_type]
            br
            = contact.specific.number
          td
            = link_to customer_office_phone_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "info-circle lg"

            = link_to edit_customer_office_phone_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "edit lg"

            = link_to customer_office_phone_path(@customer, @office, contact.specific), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
              = fa_icon "remove"
      - elsif contact.actable_type =='Email'
        tr
          td= t contact.actable_type.downcase
          td
            = contact.specific.box
          td
            = link_to customer_office_email_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "info-circle lg"

            = link_to edit_customer_office_email_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "edit lg"

            = link_to customer_office_email_path(@customer, @office, contact.specific), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
              = fa_icon "remove"
      - elsif contact.actable_type =='Site'
        tr
          td= t contact.actable_type.downcase
          td
            = link_to contact.specific.address, contact.specific.address
          td
            = link_to customer_office_site_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "info-circle lg"

            = link_to edit_customer_office_site_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "edit lg"

            = link_to customer_office_site_path(@customer, @office, contact.specific), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
              = fa_icon "remove"
= paginate @contacts

.form-group
  = link_to t(:back), customer_offices_path(@customer), :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_customer_office_path(@customer, @office), :class => 'btn btn-default btn-edit'
  '
  .btn-group
    button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
      =' t(:new_contact)
      span class="caret"
    ul class="dropdown-menu" role="menu"
      li
        = link_to t(:phone), new_customer_office_phone_path(@customer, @office)
      li
        = link_to t(:email), new_customer_office_email_path(@customer, @office)
      li
        = link_to t(:site), new_customer_office_site_path(@customer, @office)
  '
  - if @office.address
    =' link_to t(:edit_address), edit_customer_office_address_path(@customer, @office, @office.address), :class => 'btn btn-default btn-edit'
  - else
    =' link_to t(:new_address), new_customer_office_address_path(@customer, @office), :class => 'btn btn-default'
  = link_to t(:remove), customer_office_path(@customer, @office), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'