-if @office_photo.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @office_photo.errors.full_messages.each do |msg|
      li= msg
= form_for [@customer, @office, @office_photo], :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :file, t(:file), :class => 'control-label col-md-2'
    .col-sm-4
      .fileinput.fileinput-new.input-group data-provides="fileinput"
        .form-control data-trigger="fileinput"
          i class="glyphicon glyphicon-file fileinput-exists"
          span.fileinput-filename
        span class="input-group-addon btn btn-default btn-file"
          span class="fileinput-new"
            = t(:select_file)
          span class="fileinput-exists"
            = t(:change)
          = f.file_field :file, accept: 'image/jpg,image/jpeg'
        a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput"
          = t(:remove)
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), customer_office_office_photos_path(@customer, @office), :class => 'btn btn-default'

