-content_for :javascripts do
  = javascript_include_tag 'office_photos'
.page-header
  h1=t(:listing_photos)
.row
  - @office_photos.each do |office_photo|
    .col-md-3.photo
      .thumbnail
        div.caption style="display: none;"
          = link_to customer_office_office_photo_path(@customer, @office, office_photo), class: "btn btn-xs"
            = fa_icon "info-circle lg", title: t(:show)
          = link_to office_photo.file.url, class: 'btn', title: '', :data => {:gallery => ''}
            = fa_icon "eye lg", title: t(:slideshow)
          = link_to edit_customer_office_office_photo_path(@customer, @office, office_photo), class: "btn btn-xs"
            = fa_icon "edit lg", title: t(:edit)
          = link_to customer_office_office_photo_path(@customer, @office, office_photo), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove", title: t(:remove)
        = image_tag office_photo.file.thumb.url
p
  = paginate @office_photos
p
  .page_entries_info
    = page_entries_info @office_photos
= link_to t(:new_photo), new_customer_office_office_photo_path(@customer, @office), :class => 'btn btn-default btn-new'
#blueimp-gallery.blueimp-gallery
  .slides
  h3.title
  a.prev
    |‹
  a.next
    |›
  a.close
    |×
  a.play-pause
  ol.indicator