.page-header
  h1=t(:photo)
p
  = image_tag @office_photo.file.url

.form-group
  = link_to t(:back), customer_office_office_photos_path(@customer, @office), :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_customer_office_office_photo_path(@customer, @office, @office_photo), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), customer_office_office_photo_path(@customer, @office, @office_photo), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'
