-content_for :javascripts do
  = javascript_include_tag 'houses'
-if @house.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @house.errors.full_messages.each do |msg|
      li= msg
= form_for [@city, @street, @house], :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :number, t(:number), :class => 'control-label col-md-2'
    .col-sm-3
      = f.number_field :number, :class => 'text_field form-control', min: 1, step: 1
  .form-group
    = f.label :corps, t(:corps), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :corps, :class => 'text_field form-control'
  .form-group
    = f.label :latitude, t(:latitude), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :latitude, :class => 'text_field form-control'
  .form-group
    = f.label :longitude, t(:longitude), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :longitude, :class => 'text_field form-control'
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), city_street_houses_path(@city, @street), :class => 'btn btn-default'