.page-header
  h1=t(:listing_houses)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for [@city, @street, @search], class: "form-horizontal" do |f|
      .form-group
        = f.label :number_cont, t(:name)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :number_cont, class: 'search-field form-control'
      .form-group
        = f.label :corps_cont, t(:corps)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :corps_cont, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :id, t(:id)
      th= sort_link @search, :number, t(:number)
      th= sort_link @search, :corps, t(:corps)
      th= sort_link @search, :street_city_name, t(:city)
      th= sort_link @search, :street_name, t(:street)
      th= t(:actions)
  tbody
    - @houses.each do |house|
      tr
        td= house.id
        td= house.number
        td= house.corps
        td= house.city.name
        td= house.street.name
        td
          = link_to city_street_house_path(@city, @street, house), class: "btn btn-xs"
            = fa_icon "info-circle lg"

          = link_to edit_city_street_house_path(@city, @street, house), class: "btn btn-xs"
            = fa_icon "edit lg"

          = link_to city_street_house_path(@city, @street, house), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove"

= paginate @houses
p
  .page_entries_info
    = page_entries_info @houses
= link_to t(:new_house), new_city_street_house_path(@city, @street), :class => 'btn btn-default btn-new'