.page-header
  h1=t(:house)

.fieldset
  dl
    dt.label.label-default= t(:number)
    dd
      pre.prettyprint= @house.number
    dt.label.label-default= t(:corps)
    dd
      pre.prettyprint= @house.corps
    dt.label.label-default= t(:latitude)
    dd
      pre.prettyprint= @house.latitude
    dt.label.label-default= t(:longitude)
    dd
      pre.prettyprint= @house.longitude


.form-group
  = link_to t(:back), city_street_houses_path(@city, @street), :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_city_street_house_path(@city, @street, @house), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), city_street_house_path(@city, @street, @house), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'
