-if @user.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @user.errors.full_messages.each do |msg|
      li= msg
= form_for @user, :html => { :class => "form-horizontal"} do |f|
  .form-group
    = f.label :username, t(:username)+':', class: "col-sm-2 control-label"
    .col-sm-3
      = f.text_field :username, class: 'form-control'
  .form-group
    = f.label :email, t(:email)+':', class: "col-sm-2 control-label"
    .col-sm-3
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :language, t(:language)+':', class: "col-sm-2 control-label"
    .col-sm-3
      = f.select(:language, {t(:russian) => 'ru', t(:english)=> 'en'}, {:include_blank => true}, {class: 'form-control', 'data-placeholder' => t(:select_language)})
  .form-group
    = f.label :role_ids, t(:role)+':', class: "col-sm-2 control-label"
    .col-sm-3
      = f.select :role_ids, @roles.collect  {|p| [ t(p.name), p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_role), :class => 'form-control'}
  .form-group
    = f.label :password, t(:password)+':', class: "col-sm-2 control-label"
    .col-sm-3
      = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation, t(:password_confirmation)+':', class: "col-sm-2 control-label"
    .col-sm-3
      = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), users_path, :class => 'btn btn-default'