= label_tag "address[city_id]", t(:city), class: "control-label col-md-2"
.col-sm-3
  = select_tag "address[city_id]", options_from_collection_for_select(@cities, 'id', 'name') , {:include_blank => true, 'data-placeholder' => t(:select_city), :class => 'form-control', :onchange => 'onCityChanged(this.value)'}