.page-header
  h1=t(:listing_states)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, class: "form-horizontal" do |f|
      .form-group
        = f.label :name_cont, t(:name)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :name_cont, class: 'search-field form-control'
      .form-group
        = f.label :country_name_cont, t(:country)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :country_name_cont, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :id, t(:id)
      th= sort_link @search, :name, t(:name)
      th= sort_link @search, :country_name, t(:country)
      th= t(:actions)
  tbody
    - @states.each do |state|
      tr
        td= state.id
        td= state.name
        td= state.country.name
        td
          = link_to state, class: "btn btn-xs"
            = fa_icon "info-circle lg"

          = link_to edit_state_path(state), class: "btn btn-xs"
            = fa_icon "edit lg"

          = link_to state, class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove"

= paginate @states
p
  .page_entries_info
    = page_entries_info @states
= link_to t(:new_state), new_state_path, :class => 'btn btn-default btn-new'