.page-header
  h1=t(:state)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @state.name
    dt.label.label-default= t(:country)
    dd
      pre.prettyprint= @state.country ? @state.country.name : t(:not)


.form-group
  = link_to t(:back), states_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_state_path(@state), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), state_path(@state), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'
