-content_for :javascripts do
  = javascript_include_tag 'customers'
-if @customer.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @customer.errors.full_messages.each do |msg|
      li= msg
= form_for @customer, :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :name, t(:name), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :name, :class => 'text_field form-control'
  .form-group
    = f.label :desc, t(:desc), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_area :desc, :class => 'text_field form-control', rows: 6
  .form-group
    = f.label :user_id, t(:user)+':', class: "col-sm-2 control-label"
    .col-sm-3
      = f.select :user_id, @users.collect  {|p| [ p.username, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_user), :class => 'form-control'}
  .form-group
    = f.label :category_ids, t(:categories)+':', class: "col-sm-2 control-label"
    .col-sm-3
      = f.select :category_ids, @categories.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_categories), :multiple => true, :class => 'form-control'}
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), customers_path, :class => 'btn btn-default'
