.page-header
  h1=t(:customer)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @customer.name
    dt.label.label-default= t(:desc)
    dd
      pre.prettyprint= @customer.desc
    dt.label.label-default= t(:user)
    dd
      pre.prettyprint= @customer.user ? @customer.user.username : t(:not_assigned)
    dt.label.label-default= t(:categories)
    dd
      pre.prettyprint
        - @customer.categories.each do |category|
          span.badge.alert-success
            = category.name


.form-group
  = link_to t(:back), customers_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_customer_path(@customer), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), customer_path(@customer), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'
