-content_for :javascripts do
  = javascript_include_tag 'contacts'
.page-header
  h1=t(:listing_contacts)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for [@customer, @office, @search], class: "form-horizontal" do |f|
      .form-group
        = f.label :actable_type_eq, t(:contact_type)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.select :actable_type_eq, Contact::CONTACT_TYPES.map { |key, value| [value, key] }, {:include_blank => true}, {'data-placeholder' => t(:select_contact_type), :class => 'form-control'}
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :actable_type, t(:contact_type)
      th= t(:value)
      th= t(:actions)
  tbody
    - @contacts.each do |contact|
      - if contact.actable_type =='Phone'
        tr
          td= t contact.actable_type.downcase
          td
            = t Phone::PHONE_TYPES[contact.specific.phone_type]
            br
            = contact.specific.number
          td
            = link_to customer_office_phone_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "info-circle lg"

            = link_to edit_customer_office_phone_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "edit lg"

            = link_to customer_office_phone_path(@customer, @office, contact.specific), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
              = fa_icon "remove"
      - elsif contact.actable_type =='Email'
        tr
          td= t contact.actable_type.downcase
          td
            = contact.specific.box
          td
            = link_to customer_office_email_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "info-circle lg"

            = link_to edit_customer_office_email_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "edit lg"

            = link_to customer_office_email_path(@customer, @office, contact.specific), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
              = fa_icon "remove"
      - elsif contact.actable_type =='Site'
        tr
          td= t contact.actable_type.downcase
          td
            = link_to contact.specific.address, contact.specific.address
          td
            = link_to customer_office_site_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "info-circle lg"

            = link_to edit_customer_office_site_path(@customer, @office, contact.specific), class: "btn btn-xs"
              = fa_icon "edit lg"

            = link_to customer_office_site_path(@customer, @office, contact.specific), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
              = fa_icon "remove"
= paginate @contacts
p
  .page_entries_info
    = page_entries_info @contacts
.btn-group
  button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
    =' t(:new_contact)
    span class="caret"
  ul class="dropdown-menu" role="menu"
    li
      = link_to t(:phone), new_customer_office_phone_path(@customer, @office)
    li
      = link_to t(:email), new_customer_office_email_path(@customer, @office)
    li
      = link_to t(:site), new_customer_office_site_path(@customer, @office)