= label_tag "address[house_id]", t(:house), class: "control-label col-md-2"
.col-sm-3
  = select_tag "address[house_id]", options_for_select(@houses.collect  {|p| [ "#{p.number} / #{p.corps}", p.id ]}) , {:include_blank => true, 'data-placeholder' => t(:select_house), :class => 'form-control'}
