.page-header
  h1=t(:listing_streets)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for [@city, @search], class: "form-horizontal" do |f|
      .form-group
        = f.label :name_cont, t(:name)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :name_cont, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :id, t(:id)
      th= sort_link @search, :name, t(:name)
      th= sort_link @search, :city_name, t(:city)
      th= t(:houses)
      th= t(:actions)
  tbody
    - @streets.each do |street|
      tr
        td= street.id
        td= street.name
        td= street.city.name
        td
          = link_to city_street_houses_path(@city, street)
            = @houses_count[street.id] ? @houses_count[street.id] : '0'
        td
          = link_to city_street_path(@city, street), class: "btn btn-xs"
            = fa_icon "info-circle lg"

          = link_to edit_city_street_path(@city, street), class: "btn btn-xs"
            = fa_icon "edit lg"

          = link_to city_street_path(@city, street), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove"

= paginate @streets
p
  .page_entries_info
    = page_entries_info @streets
= link_to t(:new_street), new_city_street_path(@city), :class => 'btn btn-default btn-new'