.page-header
  h1=t(:street)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @street.name
    dt.label.label-default= t(:city)
    dd
      pre.prettyprint= @street.city.name
    dt.label.label-default= t(:houses)
    dd
      pre.prettyprint
        - @street.houses.each do |house|
          span.badge.alert-success
            = house.number.to_s + '/' + house.corps

.form-group
  = link_to t(:back), city_streets_path(@city), :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_city_street_path(@city, @street), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), city_street_path(@city, @street), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'
