legend=t(:sign_in)
= form_for(resource, :as => resource_name, :url => session_path(resource_name), class: "form-horizontal") do |f|
  .form-group
    = f.text_field :email, :autofocus => true, class: 'form-control', placeholder: t(:email)
  .form-group
    = f.password_field :password, class: 'form-control', placeholder: t(:password)
  - if devise_mapping.rememberable?
    .checkbox
      = f.label :remember_me
        = f.check_box :remember_me
        = t(:remember_me)
  = f.submit t(:sign_in), class: 'btn btn-info btn-block'
= render "devise/shared/links"
