-content_for :javascripts do
  = javascript_include_tag 'addresses'
-if @address.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @address.errors.full_messages.each do |msg|
      li= msg
= form_for [@customer, @office, @address], :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :country_id, t(:country), :class => 'control-label col-md-2'
    .col-sm-3
      = f.select :country_id, @countries.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_country), :class => 'form-control', :onchange => 'onCountryChanged(this.value)'}
  .form-group#states
    = f.label :state_id, t(:state), :class => 'control-label col-md-2' if @states
    .col-sm-3
      = f.select :state_id, @states.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_state), :class => 'form-control', :onchange => 'onStateChanged(this.value)'} if @states
  .form-group#cities
    = f.label :city_id, t(:city), :class => 'control-label col-md-2' if @cities
    .col-sm-3
      = f.select :city_id, @cities.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_city), :class => 'form-control', :onchange => 'onCityChanged(this.value)'} if @cities
  .form-group#streets
    = f.label :street_id, t(:street), :class => 'control-label col-md-2' if @streets
    .col-sm-3
      = f.select :street_id, @streets.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_street), :class => 'form-control', :onchange => 'onStreetChanged(this.value)'} if @streets
  .form-group#houses
      = f.label :house_id, t(:house), :class => 'control-label col-md-2' if @houses
      .col-sm-3
        = f.select :house_id, @houses.collect  {|p| [ "#{p.number} / #{p.corps}", p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_house), :class => 'form-control'} if @houses
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), customer_office_path(@customer, @office), :class => 'btn btn-default'