.page-header
  h1=t(:address)

.fieldset
  dl
    dt.label.label-default= t(:country)
    dd
      pre.prettyprint= @address.country.name
    dt.label.label-default= t(:state)
    dd
      pre.prettyprint= @address.state.name
    dt.label.label-default= t(:city)
    dd
      pre.prettyprint= @address.city.name
    dt.label.label-default= t(:street)
    dd
      pre.prettyprint= @address.street.name
    dt.label.label-default= t(:house)
    dd
      pre.prettyprint= @address.house.number
    dt.label.label-default= t(:corps)
    dd
      pre.prettyprint= @address.house.corps

.form-group
  = link_to t(:back), customer_office_path(@customer, @office), :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_customer_office_address_path(@customer, @office, @address), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), customer_office_address_path(@customer, @office, @address), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'
