-if @country.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @country.errors.full_messages.each do |msg|
      li= msg
= form_for @country, :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :name, t(:name), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :name, :class => 'text_field form-control'
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), countries_path, :class => 'btn btn-default'
