.page-header
  h1=t(:country)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @country.name


.form-group
  = link_to t(:back), countries_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_country_path(@country), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), country_path(@country), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'
