= label_tag "city[state_id]", t(:state), class: "control-label col-md-2"
.col-sm-3
  = select_tag "city[state_id]", options_from_collection_for_select(@states, 'id', 'name') , {:include_blank => true, 'data-placeholder' => t(:select_state), :class => 'form-control'}
