= label_tag "address[street_id]", t(:street), class: "control-label col-md-2"
.col-sm-3
  = select_tag "address[street_id]", options_from_collection_for_select(@streets, 'id', 'name') , {:include_blank => true, 'data-placeholder' => t(:select_street), :class => 'form-control', :onchange => 'onStreetChanged(this.value)'}
