.page-header
  h1=t(:listing_cities)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, class: "form-horizontal" do |f|
      .form-group
        = f.label :name_cont, t(:name)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :name_cont, class: 'search-field form-control'
      .form-group
        = f.label :state_country_name_cont, t(:country)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :state_country_name_cont, class: 'search-field form-control'
      .form-group
        = f.label :state_name_cont, t(:state)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :state_name_cont, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :id, t(:id)
      th= sort_link @search, :name, t(:name)
      th= sort_link @search, :country_name, t(:country)
      th= sort_link @search, :state_name, t(:state)
      th= t(:streets)
      th= t(:actions)
  tbody
    - @cities.each do |city|
      tr
        td= city.id
        td= city.name
        td= city.country.name
        td= city.state.name
        td
          = link_to city_streets_path(city)
            = @streets_count[city.id] ? @streets_count[city.id] : '0'
        td
          = link_to city, class: "btn btn-xs"
            = fa_icon "info-circle lg"

          = link_to edit_city_path(city), class: "btn btn-xs"
            = fa_icon "edit lg"

          = link_to city, class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove"

= paginate @cities
p
  .page_entries_info
    = page_entries_info @cities
= link_to t(:new_city), new_city_path, :class => 'btn btn-default btn-new'