.page-header
  h1=t(:city)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @city.name
    dt.label.label-default= t(:country)
    dd
      pre.prettyprint= @city.country ? @city.country.name : t(:not)
    dt.label.label-default= t(:state)
    dd
      pre.prettyprint= @city.state ? @city.state.name : t(:not)

.form-group
  = link_to t(:back), cities_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_city_path(@city), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), city_path(@city), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'
