.page-header
  h1=t(:listing_categories)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, class: "form-horizontal" do |f|
      .form-group
        = f.label :name_cont, t(:name)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :name_cont, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :id, t(:id)
      th= sort_link @search, :name, t(:name)
      th= t(:parent)
      th= t(:actions)
  tbody
    - @categories.each do |category|
      tr
        td= category.id
        td= category.name
        td= category.parent ? category.parent.name : t(:root_category)
        td
          = link_to category, class: "btn btn-xs"
            = fa_icon "info-circle lg", title: t(:show)

          = link_to edit_category_path(category), class: "btn btn-xs"
            = fa_icon "edit lg", title: t(:edit)

          = link_to category, class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove", title: t(:remove)
= paginate @categories
p
  .page_entries_info
    = page_entries_info @categories
= link_to t(:new_category), new_category_path, :class => 'btn btn-default btn-new'