.page-header
  h1=t(:category)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @category.name
    dt.label.label-default= t(:desc)
    dd
      pre.prettyprint= @category.desc
    dt.label.label-default= t(:parent)
    dd
      pre.prettyprint= @category.parent ? @category.parent.name : t(:root_category)


.form-group
  = link_to t(:back), categories_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_category_path(@category), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), category_path(@category), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'