.page-header
  h1=t(:email)
.fieldset
  dl
    dt.label.label-default= t(:box)
    dd
      pre.prettyprint= @email.box

.form-group
  = link_to t(:back), customer_office_contacts_path(@customer, @office), :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_customer_office_email_path(@customer, @office, @email), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), customer_office_email_path(@customer, @office, @email), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'