-content_for :javascripts do
  = javascript_include_tag 'phones'
-if @site.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @site.errors.full_messages.each do |msg|
      li= msg
= form_for [@customer, @office, @site], :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :address, t(:address), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :address, :class => 'text_field form-control'
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), customer_office_contacts_path(@customer, @office), :class => 'btn btn-default'
