.page-header
  h1=t(:listing_sites)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for [@customer, @office, @search], class: "form-horizontal" do |f|
      .form-group
        = f.label :address_cont, t(:address)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :address_cont, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :address, t(:address)
      th= t(:actions)
  tbody
    - @sites.each do |site|
      tr
        td= site.address
        td
          = link_to customer_office_site_path(@customer, @office, site), class: "btn btn-xs"
            = fa_icon "info-circle lg"

          = link_to edit_customer_office_site_path(@customer, @office, site), class: "btn btn-xs"
            = fa_icon "edit lg"

          = link_to customer_office_site_path(@customer, @office, site), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove"

= paginate @sites
p
  .page_entries_info
    = page_entries_info @sites
= link_to t(:new_site), new_customer_office_site_path(@customer, @office), :class => 'btn btn-default btn-new'