.page-header
  h1=t(:site)
.fieldset
  dl
    dt.label.label-default= t(:address)
    dd
      pre.prettyprint= @site.address

.form-group
  = link_to t(:back), customer_office_contacts_path(@customer, @office), :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_customer_office_site_path(@customer, @office, @site), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), customer_office_site_path(@customer, @office, @site), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'